@import "tailwindcss";
@tailwind utilities;

@keyframes blink {
  0%, 100% { opacity: 0.2; }
  50% { opacity: 1; }
}

.animate-blink {
  animation: blink 1s infinite ease-in-out;
}




html,



body {
  background-color: #f7f7f7;
  font-family: 'Montserrat', sans-serif;
}


* {
  box-sizing: border-box;
}